body {
  background-color: #f4f8fb;
}

.product-card {
  border: none;
  border-radius: 14px;
}

.product-img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.product-img:hover {
  transform: scale(1.05);
}

.modal-product-img {
  width: 220px;
  height: 220px;
  object-fit: contain;
}

.qty-box {
  min-width: 45px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}