body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: none;
}

table td,
table th {
  vertical-align: middle !important;
}